.row
  .col-md-8
    .media
      .media-body
        %h2.media-heading= "Name: " + @user.name
        %h2.media-heading= "Email: " + @user.email
    .js-items
      .row
        %h3 Todo Items
        %table.table
          %thead
            %tr
              - ["Item Name","Days Left","Completed"].each do |var|
                %th= var
          %tbody#items-table
            = render partial: "items/item", collection: @user.items
  .new_item
    = render partial: "items/form", locals: { user: @user, item: @user.items.new}
